# n8n environment
N8N_EDITOR_BASE_URL=https://n8n.example.com
WEBHOOK_URL=https://n8n.example.com

# SMTP
N8N_SMTP_SENDER=noreply@example.com
N8N_SMTP_HOST=
N8N_SMTP_PORT=
N8N_SMTP_USER=
N8N_SMTP_PASS=
N8N_SMTP_SSL=true

# Object Storage
N8N_EXTERNAL_STORAGE_S3_HOST=s3.example.com
N8N_EXTERNAL_STORAGE_S3_BUCKET_NAME=n8n-binary
N8N_EXTERNAL_STORAGE_S3_BUCKET_REGION=us-east-1
N8N_EXTERNAL_STORAGE_S3_ACCESS_KEY=
N8N_EXTERNAL_STORAGE_S3_ACCESS_SECRET=
N8N_AVAILABLE_BINARY_DATA_MODES=filesystem,s3
N8N_DEFAULT_BINARY_DATA_MODE=s3

# Isolate Server
N8N_DIAGNOSTICS_ENABLED=false
N8N_VERSION_NOTIFICATIONS_ENABLED=false
N8N_TEMPLATES_ENABLED=false
N8N_DIAGNOSTICS_CONFIG_FRONTEND=
N8N_DIAGNOSTICS_CONFIG_BACKEND=
EXTERNAL_FRONTEND_HOOKS_URLS=